
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    
}

.container{
    width: 750px;
    background-color: yellow;
    margin-right: auto;
    margin-left: auto;
}
header{
    padding: 7px 10px;
    background-color: #e2e2e2;
}

.menu{
    background-color: #c6a7a5;
    padding: 0 10px;
}

.menu ul{
    list-style-type: none;
    padding-inline-start: 10px;
}

.menu li{
    display: inline-block;
    padding: 5px 5px;
}

.column{
    background-image: linear-gradient(to right, #b1cfa8 70%, #a5a6ce 30%);
    font-size: 0;
}

.column h2{
    margin-bottom: 20px;
}

.columnx{
    display: inline-block;
    padding: 12px 10px;
    font-size: 16px;
    vertical-align: top;
}

.column1{
    width: 70%;
}

.column2{
    width: 30%;
    
}

.column1 p, .column2 ul{
    margin-top: 15px;
}

footer{
    background-color: #d1d0a6;
    padding: 5px 10px;
}